@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url(effect.css);
@import url(table.css);
@import url(navbar.css);

/* Light Mode */
:root[data-theme="light"] {
    color-scheme: light;

    --acc: hsl(200, 100%, 72%);
    --acc2: hsl(200, 100%, 64%);
    --acc3: hsl(200, 100%, 50%);

    --txt: hsl(0, 0%, 5%); /*0d0d0d*/
    --txt-d: hsl(0, 0%, 50%);

    --bg-d: hsl(200, 100%, 90%);
    --bg: hsl(200, 100%, 96%);
    --bg-l: hsl(200, 100%, 98%);
    --brd: hsl(200, 60%, 60%);

    --nav: hsla(200, 100%, 84%, 0.65);
    --nav2: hsla(200, 100%, 84%);
}
:root[data-theme="light"] .settings-icon {
    content: url("../icons/settings_light.svg");
}

/* Dark Mode */
:root[data-theme="dark"] {
    color-scheme: dark;

    --acc: hsl(240, 70%, 50%);
    --acc2: hsl(240, 70%, 58%);
    --acc3: hsl(240, 70%, 72%);

    --txt: hsl(0, 0%, 95%); /*f2f2f2*/
    --txt-d: hsl(0, 0%, 50%);

    --bg-d: hsl(240, 40%, 6%);
    --bg: hsl(240, 40%, 8%);
    --bg-l: hsl(240, 40%, 12%);
    --brd: hsl(200, 0%, 0%);

    --nav: hsla(240, 40%, 50%, 0.65);
    --nav2: hsla(240, 40%, 50%);
}
:root[data-theme="dark"] .settings-icon {
    content: url("../icons/settings_dark.svg");
}

body {
    font-family: 'Space Grotesk';
    background-color: var(--bg);
}

.my-container {
    background-color: var(--bg-l);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.my-card {
    background-color: var(--bg-l);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.my-preview {
    background-color: var(--bg-d);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.my-preview .preview-container {
    background-color: var(--bg-l);
    border-radius: 0.75rem;
}

a {
    color: var(--acc3);
    text-decoration: none;
    display: inline-block;
    margin: 0;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
        font-weight 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

a:hover {
    font-weight: bold;
    transform: scale(1.05);
}

a:active {
    transform: scale(0.9);
}

button,
a.btn {
    background-color: var(--acc);
    color: var(--txt);
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover,
a.btn:hover {
    background-color: var(--acc2);
    transform: scale(1.05);
}

button:active,
a.btn:active {
    transform: scale(0.9);
}

input {
    border: 1px solid var(--acc);
    border-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0.25rem 1rem;
}

footer {
    background-color: var(--bg-d);
    border-top: 1px solid var(--brd);
}