/* Navbar */
:root[data-theme="light"] {
    --navbar-foreground: hsl(0, 0%, 0%);
}

:root[data-theme="dark"] {
    --navbar-foreground: hsl(0, 0%, 100%);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1;
}

.navbar-glass {
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(var(--blur)) brightness(100%);
    backdrop-filter: blur(var(--blur)) brightness(100%);
    background: linear-gradient(to bottom, var(--background), transparent 50%);
    pointer-events: none;

    height: 200%;
    -webkit-mask-image: linear-gradient(to bottom,
            black 0% 50%,
            transparent 50% 100%);
    mask-image: linear-gradient(to bottom,
            black 0% 50%,
            transparent 50% 100%);
}

.navbar-glass-edge {
    position: absolute;
    height: 4px;
    -webkit-backdrop-filter: blur(var(--blur-e)) brightness(100%);
    backdrop-filter: blur(var(--blur-e)) brightness(100%);
    transform: translateY(100%);
    pointer-events: none;

    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(to bottom,
            black 0,
            black 2px,
            transparent 2px);
    mask-image: linear-gradient(to bottom,
            black 0,
            black 2px,
            transparent 2px);
}

nav a,
nav button {
    background-color: transparent;
    color: var(--navbar-foreground);
    position: relative;
    transition: color var(--transition), background-color var(--transition),
        transform var(--transition);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

nav a:hover,
nav button:hover {
    /*background-color: var(--muted);*/
    color: var(--accent);
    transform: scale(1.05);
    filter: brightness(1);
}

nav a.btn,
nav button.btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    position: relative;
    padding: 0.25rem 1rem;
}

nav a.btn:hover,
nav button.btn:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
    transform: scale(1.05);
}

nav a.icon-btn,
nav button.icon-btn {
    padding: 0.25rem calc(0.25rem + 2px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--muted);
}

.dropdown:hover .dropdown-content {
    display: block;
}